body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.game-status {
  font-size: 20px;
  margin-left: 45px;
  margin-bottom: 20px;
  color: green;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.game-info {
  margin-top: 10px;
  margin-left: 45px;
  font-size: 15px;

}

